    
$font-family-log-title: Shrikhand;
$font-family-text: Roboto;
$color-primary : #9356DC;
$color-secondary: #FF79DA; 
$border-and-checkingcolor: #99E2D0;
$animation-check-button : checking 1s cubic-bezier(0.19, 1, 0.22, 1);
$animation-validation-button : rotate 1s cubic-bezier(0.19, 1, 0.22, 1);

%layout{
    display: flex;
    flex-direction: column;
    border-top: 1px solid;
    border-radius: 25px;
    border-top-left-radius: 40px ;
    border-top-right-radius: 40px;
    border-left: 3px solid;
    border-right: 3px solid;
    background-color: rgb(250, 250, 250);
    border-color: rgb(250, 250, 250);
    box-shadow: 0px 0px 0px 0px;  
    margin-top: -47px;
}
%body{
    font-family: $font-family-text;
    background-color: rgb(250, 250, 250);
    margin : 0 auto;
    border : 1px solid black; 
    max-width :750px;
    position: relative;
    cursor: pointer;
}
%price-style{
    font-weight: bold;
    margin-left: 15px;
    margin-top:-10px;
    position: absolute;
    left:80%;
    top:52%;
}
%menu-name{
    font-family: $font-family-text;
    margin-left : 15px;
    margin-top: 15px;
    font-weight: bolder;
    font-size: 18px;
}
%btn-command{
    background-color:$color-primary;
    color: white;
    width: 35%;
    height: 40px;
    border-radius: 20px; 
    border-color: transparent;  
    transform: scale(1); 
    margin-left :33%;
    margin-top:25px; 
}
@mixin menu-description ($width:100%){
    font-weight: 100;
    margin-left: 15px;
    margin-top: -15px;
    width:$width;
    font-size: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin h3form {
    font-family: $font-family-text;
    font-weight: lighter;
    font-size: 16px;
    border-bottom : 2px solid $border-and-checkingcolor;
    max-width: 11%;
    margin-left: 15px;
}
@mixin Big-title ($size:16px) {
    font-family: $font-family-log-title;
    font-size: $size;
    
}

@mixin footer {
    background-color: rgb(53, 48, 48);
    font-family: $font-family-text;
    color: white;
    font-size: 15px;
    height: 200px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
    padding-bottom: 30px;
}

@mixin menu-block ($margin-b:10px){
    border: 2px double black; 
    border-radius: 15px;
    background-color: #FFFF;
    max-width: 92%;
    height: 70px;
    border-color: #FFFF;
    box-shadow: 3px 3px 3px 3px rgb(245, 245, 245);
    margin-bottom: $margin-b;
    margin-left:10px;

}
@mixin check-button ($width:0px, $height:0px){
    &::before{
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        position: absolute;
        content: '';
        top: -2%;
        left:93%;
        width: $width;
        height: $height;
        background: #99E2D0;
        border-color: transparent;
    }
}
@mixin validation-button($opacity:0,$left:98%) {
    &::after{
        font-family: "Font Awesome 5 Free";
        position: absolute;
        font-weight: 900;
        left:$left;
        opacity: $opacity;
        bottom: 35%;
        color: white;
        font-size: 20px;
        content: '\f058';
    }
}

@if (lightness($color-primary) > 25%) {
    .btn_command:hover{
        background-color:lighten($color-secondary,5%);
        box-shadow: 1px 1px 1px 1px black;
    }
} 
@else {
    .btn_command:hover{
    background-color: darken($color-primary,10%);
    box-shadow: 0px 0px 0px 0px;
    }
}

h1{
    text-align: center;
    @include Big-title (25px);
    &::before{
        border: 3px solid black;
    }

}
    
.HeadT{
    display: flex;
    @include Big-title (20px);
    position: relative;
    margin-left: 15px;
 
}
.Heart{
    position: relative;
    margin : 0 auto;
    padding: 0 auto;
}

.Heart::before{
    font-family: "Font Awesome 5 Free";
    content: '\f004';
    position: absolute;
    font-weight: 100;
    font-size: 24px;
    background-color: white;
    top: 40%;
    left: 89%;
   
    
}

.Image{
    display: flex;
    width: 100%;
    object-fit: cover;
}
.Principal{
    @extend %layout;    

}
.Link{
    text-decoration: none;
    color: black;
}
main{
    display: flex;
    flex-direction: column;
}

.resto{
    width: 100%; 
    object-fit: cover;
    height: 300px;
}

h3{
    @include h3form;
    text-align: center;
}
.le-menu{
    position: relative;
}
.le-menu:hover{
    width: 80%;
}


header{
    position: relative;
    
}

.Arrow{
    position: absolute;
    top :13%;
    left:5%;
    font-size:20px;
}


body{
    @extend %body;
}

.Entrée-menu{
    text-align: left;
    animation: Slidedown 3s 100ms ease-in-out ;
    h4{
        @extend %menu-name;
    }
    &__card{
        @include menu-block (15px); 
        @media screen and (min-width:750px) {
            @include menu-block;
        }
        position: relative;
        @include check-button($width:0px, $height:0px);
        @include validation-button ($opacity:0);
        
    }
        &__card:hover{
            @media screen and (min-width:750px){
                @include check-button($width:80px, $height:83px);
                @include validation-button ($opacity:1,$left:45%);
            }
            @include check-button($width:55px, $height:73px);
            @include validation-button ($opacity:1,$left:98%);
        }
        &__card:hover::before{
            animation: checking 1s cubic-bezier(0.19, 1, 0.22, 1);
            
        }
        &__card:hover::after{
            animation: rotate 1s cubic-bezier(0.19, 1, 0.22, 1);
        }
            &--title{
                @include menu-description (100%);
                &:hover{
                    @include menu-description (80%);
                }
            }
            &--price{
                @extend %price-style;
            }
        
}


.Plats-menu {
    text-align: left;
    animation: Slidedown 3s 200ms ease-in-out ;
    h4{
        @extend %menu-name;
    }
    &__card{
        @include menu-block (15px);
        position: relative;
        @include check-button($width:0px, $height:0px);
        @include validation-button ($opacity:0);
        
    }
        &__card:hover{
            @include check-button($width:55px, $height:73px);
            @include validation-button ($opacity:1);
        }
        &__card:hover::before{
            animation: checking 1s cubic-bezier(0.19, 1, 0.22, 1);
            
        }
        &__card:hover::after{
            animation: rotate 1s cubic-bezier(0.19, 1, 0.22, 1);
        }
    
            &--title{
                @include menu-description (78%);
                &:hover{
                    @include menu-description (80%);
                }
            }
            &--price{
                @extend %price-style;
            }
}

.Dessert-menu {
    text-align: left;
    animation: Slidedown 3s 400ms ease-in-out ;
    h4{
        @extend %menu-name;
    }
    &__card{
        @include menu-block(15px);
        position: relative;
        @include check-button($width:0px, $height:0px);
        @include validation-button ($opacity:0);
    }
        &__card:hover{
            @include check-button($width:55px, $height:73px);
            @include validation-button ($opacity:1);
        }
        &__card:hover::before{
            animation: checking 1s cubic-bezier(0.19, 1, 0.22, 1);
            
        }
        &__card:hover::after{
            animation: rotate 1s cubic-bezier(0.19, 1, 0.22, 1);
        }

        &--title{
            @include menu-description (100%);
            &:hover{
                @include menu-description (80%);
            }
        }
        &--price{
            @extend %price-style;
        }
}


.btn_command{
    @extend %btn-command;
}


footer {
    @include footer;
    
}
    h5{
        @include Big-title(18px)
    }

@keyframes Slidedown {
    from {
    transform : translateY(200px);
    opacity:0;
    }
    to{
    transform: translateY(0);
    opacity: 1;
    }
}
@keyframes checking {
    0%{
        transform: translateX(28px);
        opacity: 0;
    }
    100%{
        transform: translateX(-28px);
        opacity:1;    
    }
    
}
@keyframes rotate {
    0%{
        transform: translateX(-5px) rotate(0);
        opacity: 0;
    }
    100%{
        transform: translateX(-28px) rotate(1turn);
        opacity:1;

    }
}



