@charset "UTF-8";
.Entrée-menu--title, .Plats-menu--title, .Dessert-menu--title {
  margin-left: 10px;
  margin-top: 12px;
  font-weight: bolder;
  font-size: 18px;
}

.Entrée-menu .btn_checking {
  height: 70px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  top: -2%;
  left: 93%;
  width: 55px;
  height: 73px;
  background: #99E2D0;
  border-color: transparent;
  opacity: 0;
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
  -webkit-transition-timing-function: cubic-bezier(0.01, 1, 0.01, 1);
          transition-timing-function: cubic-bezier(0.01, 1, 0.01, 1);
}

h1 {
  text-align: center;
  font-family: Shrikhand;
  font-size: 25px;
}

h1::before {
  border: 3px solid black;
}

.HeadT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Shrikhand;
  font-size: 20px;
  position: relative;
  margin-left: 15px;
}

.heart {
  font-size: 26px;
  position: absolute;
  top: 30%;
  left: 85%;
  font-weight: lighter;
}

.Image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid;
  border-radius: 25px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-left: 3px solid;
  border-right: 3px solid;
  background-color: #fafafa;
  border-color: #fafafa;
  -webkit-box-shadow: 0px 0px 0px 0px;
          box-shadow: 0px 0px 0px 0px;
  margin-top: -47px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resto {
  width: 100%;
}

figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  font-weight: 100;
  margin-top: 5px;
}

h3 {
  font-family: Roboto;
  font-weight: lighter;
  font-size: 16px;
  border-bottom: 2px solid #99E2D0;
  width: 11%;
  margin-left: 15px;
  text-align: center;
}

h4 {
  font-family: Shrikhand;
  font-size: 13px;
}

header {
  position: relative;
}

.Arrow {
  position: absolute;
  top: 13%;
  left: 5%;
  font-size: 20px;
}

body {
  font-family: Roboto;
  background-color: #fafafa;
  margin: 0 auto;
  border: 1px solid black;
  max-width: 750px;
  position: relative;
}

.Entrée-menu {
  text-align: left;
  -webkit-animation: Slidedown 3s 100ms ease-in-out;
          animation: Slidedown 3s 100ms ease-in-out;
}

.Entrée-menu__card1 {
  border: 2px double black;
  border-radius: 15px;
  background-color: #FFFF;
  width: 92%;
  height: 70px;
  border-color: #FFFF;
  -webkit-box-shadow: 3px 3px 3px 3px whitesmoke;
          box-shadow: 3px 3px 3px 3px whitesmoke;
  margin-bottom: 15px;
  margin-left: 15px;
  position: relative;
}

.Entrée-menu .btn_checking:hover {
  -webkit-transform: rotateX(1turn) translateX(-28px);
          transform: rotateX(1turn) translateX(-28px);
  opacity: 1;
  -webkit-animation-name: checking;
          animation-name: checking;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.Entrée-menu .btn_checking .circle1 {
  -webkit-transform: rotateZ(0turn);
          transform: rotateZ(0turn);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.Entrée-menu .btn_checking .Circle {
  color: white;
  font-size: 21px;
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transform: rotateX(0turn);
          transform: rotateX(0turn);
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
}

.Entrée-menu .btn_checking :hover .circle1 {
  -webkit-transform: rotateZ(1turn);
          transform: rotateZ(1turn);
}

.Entrée-menu__card2 {
  border: 2px double black;
  border-radius: 15px;
  background-color: #FFFF;
  width: 92%;
  height: 70px;
  border-color: #FFFF;
  -webkit-box-shadow: 3px 3px 3px 3px whitesmoke;
          box-shadow: 3px 3px 3px 3px whitesmoke;
  margin-bottom: 15px;
  margin-left: 15px;
}

.Entrée-menu__card3 {
  border: 2px double black;
  border-radius: 15px;
  background-color: #FFFF;
  width: 92%;
  height: 70px;
  border-color: #FFFF;
  -webkit-box-shadow: 3px 3px 3px 3px whitesmoke;
          box-shadow: 3px 3px 3px 3px whitesmoke;
  margin-bottom: 15px;
  margin-left: 15px;
}

.Entrée-menu__card4 {
  border: 2px double black;
  border-radius: 15px;
  background-color: #FFFF;
  width: 92%;
  height: 70px;
  border-color: #FFFF;
  -webkit-box-shadow: 3px 3px 3px 3px whitesmoke;
          box-shadow: 3px 3px 3px 3px whitesmoke;
  margin-bottom: 15px;
  margin-left: 15px;
}

.Plats-menu {
  text-align: left;
  -webkit-animation: Slidedown 3s 200ms ease-in-out;
          animation: Slidedown 3s 200ms ease-in-out;
}

.Plats-menu__card1 {
  border: 2px double black;
  border-radius: 15px;
  background-color: #FFFF;
  width: 92%;
  height: 70px;
  border-color: #FFFF;
  -webkit-box-shadow: 3px 3px 3px 3px whitesmoke;
          box-shadow: 3px 3px 3px 3px whitesmoke;
  margin-bottom: 15px;
  margin-left: 15px;
}

.Plats-menu__card2 {
  border: 2px double black;
  border-radius: 15px;
  background-color: #FFFF;
  width: 92%;
  height: 70px;
  border-color: #FFFF;
  -webkit-box-shadow: 3px 3px 3px 3px whitesmoke;
          box-shadow: 3px 3px 3px 3px whitesmoke;
  margin-bottom: 15px;
  margin-left: 15px;
}

.Plats-menu__card3 {
  border: 2px double black;
  border-radius: 15px;
  background-color: #FFFF;
  width: 92%;
  height: 70px;
  border-color: #FFFF;
  -webkit-box-shadow: 3px 3px 3px 3px whitesmoke;
          box-shadow: 3px 3px 3px 3px whitesmoke;
  margin-bottom: 15px;
  margin-left: 15px;
}

.Dessert-menu {
  text-align: left;
  -webkit-animation: Slidedown 3s 400ms ease-in-out;
          animation: Slidedown 3s 400ms ease-in-out;
}

.Dessert-menu__card1 {
  border: 2px double black;
  border-radius: 15px;
  background-color: #FFFF;
  width: 92%;
  height: 70px;
  border-color: #FFFF;
  -webkit-box-shadow: 3px 3px 3px 3px whitesmoke;
          box-shadow: 3px 3px 3px 3px whitesmoke;
  margin-bottom: 15px;
  margin-left: 15px;
}

.Dessert-menu__card2 {
  border: 2px double black;
  border-radius: 15px;
  background-color: #FFFF;
  width: 92%;
  height: 70px;
  border-color: #FFFF;
  -webkit-box-shadow: 3px 3px 3px 3px whitesmoke;
          box-shadow: 3px 3px 3px 3px whitesmoke;
  margin-bottom: 15px;
  margin-left: 15px;
}

.Dessert-menu__card3 {
  border: 2px double black;
  border-radius: 15px;
  background-color: #FFFF;
  width: 92%;
  height: 70px;
  border-color: #FFFF;
  -webkit-box-shadow: 3px 3px 3px 3px whitesmoke;
          box-shadow: 3px 3px 3px 3px whitesmoke;
  margin-bottom: 15px;
  margin-left: 15px;
}

.btn_command {
  background-color: #9356DC;
  color: white;
  width: 35%;
  height: 40px;
  border-radius: 20px;
  border-color: transparent;
  -webkit-transform: scale(1);
          transform: scale(1);
  margin-left: 33%;
  margin-top: 25px;
}

.btn_command:hover {
  background-color: #FF79DA;
}

footer {
  background-color: #353030;
  font-family: Roboto;
  color: white;
  font-size: 15px;
  height: 200px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@-webkit-keyframes Slidedown {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes Slidedown {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes checking {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-28px);
            transform: translateX(-28px);
    opacity: 1;
  }
}

@keyframes checking {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-28px);
            transform: translateX(-28px);
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */