    
$font-family-log-title: Shrikhand;
$font-family-text: Roboto;
$color-primary : #9356DC;
$color-secondary: #FF79DA; 
$border-and-checkingcolor: #99E2D0;

%figure-layout{
margin-left : 10px;
margin-top: 12px;
font-weight: bolder;
font-size: 18px;
}


@mixin h3form {
    font-family: $font-family-text;
    font-weight: lighter;
    font-size: 16px;
    border-bottom : 2px solid $border-and-checkingcolor;
    width: 11%;
    margin-left: 15px;
}
@mixin titles ($size:16px) {
    font-family: $font-family-log-title;
    font-size: $size;
    
}

@mixin footer {
    background-color: rgb(53, 48, 48);
    font-family: $font-family-text;
    color: white;
    font-size: 15px;
    height: 200px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@mixin menu-block ($margin-b:10px){
    border: 2px double black; 
    border-radius: 15px;
    background-color: #FFFF;
    width: 92%;
    height: 70px;
    border-color: #FFFF;
    box-shadow: 3px 3px 3px 3px rgb(245, 245, 245);
    margin-bottom: $margin-b;
    margin-left:15px;

}


h1{
    text-align: center;
    @include titles (25px);
    &::before{
        border: 3px solid black;
    }

}
    
.HeadT{
    display: flex;
    @include titles (20px);
    position: relative;
    margin-left: 15px;
 
}
.heart{
    font-size: 26px;
    position: absolute;
    top :30%;
    left: 85%;
    font-weight: lighter;
}

.Image{
    display: flex;
    width: 100%;
    object-fit: cover;
}
.Principal{
    display: flex;
    flex-direction: column;
    border-top: 1px solid;
    border-radius: 25px;
    border-top-left-radius: 40px ;
    border-top-right-radius: 40px;
    border-left: 3px solid;
    border-right: 3px solid;
    background-color: rgb(250, 250, 250);
    border-color: rgb(250, 250, 250);
    box-shadow: 0px 0px 0px 0px;  
    margin-top: -47px;

}
main{
    display: flex;
    flex-direction: column;
}

.resto{
    width: 100%;
    
}
figcaption{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 100;
    margin-top: 5px;
}
h3{
    @include h3form;
    text-align: center;
}

h4{
    @include titles(13px);

}
header{
    position: relative;
    
}

.Arrow{
    position: absolute;
    top :13%;
    left:5%;
    font-size:20px;
}


body{
    font-family: $font-family-text;
    background-color: rgb(250, 250, 250);
    margin : 0 auto;
    border : 1px solid black; 
    max-width :750px;
    position: relative;
}

.Entrée-menu{
    text-align: left;
    animation: Slidedown 3s 100ms ease-in-out ;
    &__card{
        @include menu-block (15px); 
        position: relative;        
    }
        &__card::before{
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            position: absolute;
            content: '';
            top: -2%;
            left:93%;
            width: 0px;
            height: 0px;
            background: #99E2D0;
            border-color: transparent;
        }
        &__card:hover::before{
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            position: absolute;
            top: -2%;
            left:93%;
            width: 53px;
            height: 73px;
            background: #99E2D0;
            border-color: transparent;
            animation: checking 2s cubic-bezier(0.19, 1, 0.22, 1);
        }
        &__card::after{
            font-family: "Font Awesome 5 Free";
            position: absolute;
            font-weight: 900;
            left:98%;
            opacity: 0;
            bottom: 35%;
            color: white;
            font-size: 20px;
            content: '\f058';
        }
        &__card:hover::after{
            animation: rotate 2s cubic-bezier(0.19, 1, 0.22, 1);
        }
        

    &__card2{
        @include menu-block (15px);     
    }

    &__card3{
        @include menu-block (15px);      
    }
    &__card4{
        @include menu-block (15px); 
    }
    &--title{
      @extend %figure-layout  
    }
}


.Plats-menu {
    text-align: left;
    animation: Slidedown 3s 200ms ease-in-out ;
    &__card{
        @include menu-block (15px);
    }
    &__card2{
        @include menu-block(15px);
    }
    &__card3{
        @include menu-block (15px);
    }
    &--title{
        @extend %figure-layout  
      }
}

.Dessert-menu {
    text-align: left;
    animation: Slidedown 3s 400ms ease-in-out ;
    &__card{
        @include menu-block(15px);
    }
    &__card2{
        @include menu-block(15px);
    }
    &__card3{
        @include menu-block(15px);
    }
    &--title{
        @extend %figure-layout  
      }
}



.btn_command{
    background-color:$color-primary;
    color: white;
    width: 35%;
    height: 40px;
    border-radius: 20px; 
    border-color: transparent;  
    transform: scale(1); 
    margin-left :33%;
    margin-top:25px;
    &:hover{
        background-color: $color-secondary;
    }
    
}



footer {
    @include footer;
    
    
}
@keyframes Slidedown {
    from {
    transform : translateY(200px);
    opacity:0;
    }
    to{
    transform: translateY(0);
    opacity: 1;
    }
}
@keyframes checking {
    0%{
        transform: translateX(0px);
        opacity: 0;
    }
    100%{
        transform: translateX(-28px);
        opacity:1;
    }
    
}
@keyframes rotate {
    0%{
        transform: translateX(0px) rotate(0);
        opacity: 0;
    }
    100%{
        transform: translateX(-28px) rotate(1turn);
        opacity:1;
    }
}



