h1 {
  font-family: Shrikhand;
  border-bottom: 0.5px groove #f7f7f7;
  -webkit-box-shadow: 0px 3px 0px 0px #e0e0e0;
          box-shadow: 0px 3px 0px 0px #e0e0e0;
  text-align: center;
}

h3 {
  margin-left: 20px;
  margin-bottom: 30px;
  padding-top: 30px;
  font-size: 22px;
}

a {
  text-decoration: none;
  color: black;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ececec;
  font-size: 17px;
  font-family: Roboto;
  text-align: center;
  height: 40px;
  margin-top: -20px;
}

form .Inpt {
  font-size: 15px;
  border-style: none;
  margin-left: 10px;
  background: #ececec;
}

form .marker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

article {
  background: #f1f1f1;
  text-align: center;
  margin-top: -20px;
  font-family: Roboto;
  height: 230px;
  width: 100%;
}

article h2 {
  padding-top: 30px;
}

article button {
  height: 40px;
  width: 200px;
  border-radius: 20px;
  border-color: transparent;
  background: #FF79DA;
  margin-top: 10px;
  font-size: 14px;
  color: white;
  font-family: Roboto;
}

body {
  font-family: Roboto;
}

.Fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.Fonctionnement .Choose-resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-top: 10px;
  background: #f1f1f1;
  width: 250px;
  height: 60px;
  position: relative;
}

.Fonctionnement .Choose-resto .btn_circle {
  border-radius: 25px;
  border-color: transparent;
  width: 22px;
  height: 22px;
  color: white;
  background: #9356DC;
  position: absolute;
  top: 35%;
  left: -8px;
}

.Fonctionnement .Choose-resto .Mobile-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25px;
  padding-bottom: 10px;
  font-size: 18px;
  color: grey;
}

.Fonctionnement .Choose-resto__caption {
  margin-left: 20px;
}

.Fonctionnement .Compose-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  background: #f1f1f1;
  margin-left: 20px;
  width: 250px;
  height: 60px;
  padding-top: 10px;
  margin-bottom: 20px;
  position: relative;
}

.Fonctionnement .Compose-menu .btn_circle {
  border-radius: 25px;
  border-color: transparent;
  width: 22px;
  height: 22px;
  color: white;
  background: #9356DC;
  position: absolute;
  top: 30%;
  left: -8px;
}

.Fonctionnement .Compose-menu .List {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25px;
  padding-bottom: 10px;
  color: grey;
}

.Fonctionnement .Compose-menu__caption {
  margin-left: 20px;
}

.Fonctionnement .Choose-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  margin-left: 20px;
  background: #f1f1f1;
  width: 250px;
  height: 60px;
  padding-top: 10px;
  position: relative;
}

.Fonctionnement .Choose-restaurant .btn_circle {
  border-radius: 25px;
  border-color: transparent;
  width: 22px;
  height: 22px;
  color: white;
  background: #9356DC;
  position: absolute;
  top: 30%;
  left: -8px;
}

.Fonctionnement .Choose-restaurant .Store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 25px;
  padding-bottom: 10px;
  color: #9356DC;
}

.Fonctionnement .Choose-restaurant__caption {
  margin-left: 20px;
}

.Restaurants {
  background: #f1f1f1;
  width: 100%;
  margin-left: 0px;
}

.Restaurants .Restaurants-places {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -25px;
  margin-left: 0px;
}

.Restaurants .New-Resto__card {
  padding-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 20px;
  height: 240px;
  background: white;
  position: relative;
}

.Restaurants .New-Resto__card::before {
  position: absolute;
  content: 'Nouveau';
  padding-left: 9px;
  padding-top: 8px;
  font-size: 15px;
  left: 72%;
  top: 6%;
  background: #99e2d0;
  color: #339966;
  width: 69px;
  height: 24px;
  font-weight: bold;
  border-color: transparent;
}

.Restaurants .New-Resto--picture {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 340px;
  height: 180px;
}

.Restaurants .New-Resto p {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 9px;
}

.Restaurants .New-Resto--place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -15px;
  font-weight: 100;
  font-size: 17px;
  margin-left: 10px;
}

.Restaurants .Resto__card {
  padding-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 20px;
  height: 240px;
  background: white;
  position: relative;
  position: relative;
}

.Restaurants .Resto--picture {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 340px;
  height: 180px;
}

.Restaurants .Resto p {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 9px;
}

.Restaurants .Resto--place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -15px;
  font-weight: 100;
  font-size: 17px;
  margin-left: 10px;
  position: relative;
}

.Heart {
  position: relative;
}

.Heart::before {
  font-family: "Font Awesome 5 Free";
  content: '\f004';
  position: absolute;
  font-weight: 100;
  bottom: 10%;
  left: 90%;
  font-size: 24px;
}

.Heart:hover::before {
  font-family: "Font Awesome 5 Free";
  content: '\f004';
  position: absolute;
  bottom: 10%;
  left: 90%;
  font-weight: 900;
  -webkit-animation-name: remplissage;
          animation-name: remplissage;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.Heart:not(:hover)::before {
  font-family: "Font Awesome 5 Free";
  content: '\f004';
  position: absolute;
  font-weight: 100;
  bottom: 10%;
  left: 90%;
  font-size: 24px;
}

footer {
  background: #353030;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 230px;
  margin-top: 40px;
  width: 99%;
  padding-left: 20px;
  padding-bottom: 30px;
}

footer h4 {
  font-family: Shrikhand;
}

@-webkit-keyframes remplissage {
  0% {
    -webkit-transform: scaleZ(0);
            transform: scaleZ(0);
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
    color: #9356DC;
    opacity: 0;
  }
  25% {
    -webkit-transform: scaleZ(0.5);
            transform: scaleZ(0.5);
    color: #9356DC;
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
    opacity: 0.25;
  }
  50% {
    -webkit-transform: scaleZ(0.75);
            transform: scaleZ(0.75);
    color: #9356DC;
    opacity: 0.5;
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
    -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
  75% {
    -webkit-transform: scaleZ(1);
            transform: scaleZ(1);
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
    color: #9356DC;
    opacity: 0.75;
    -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
  100% {
    -webkit-transform: scaleZ(1.1);
            transform: scaleZ(1.1);
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
    color: #9356DC;
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
}

@keyframes remplissage {
  0% {
    -webkit-transform: scaleZ(0);
            transform: scaleZ(0);
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
    color: #9356DC;
    opacity: 0;
  }
  25% {
    -webkit-transform: scaleZ(0.5);
            transform: scaleZ(0.5);
    color: #9356DC;
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
    opacity: 0.25;
  }
  50% {
    -webkit-transform: scaleZ(0.75);
            transform: scaleZ(0.75);
    color: #9356DC;
    opacity: 0.5;
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
    -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
  75% {
    -webkit-transform: scaleZ(1);
            transform: scaleZ(1);
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
    color: #9356DC;
    opacity: 0.75;
    -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
  100% {
    -webkit-transform: scaleZ(1.1);
            transform: scaleZ(1.1);
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
    color: #9356DC;
    opacity: 1;
    -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
}
/*# sourceMappingURL=stylesaccueil.css.map */