$font-family-log-title: Shrikhand;
$font-family-text: Roboto;
$color-primary : #9356DC;
$color-secondary: #FF79DA;

@mixin card-layout {
    padding-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 20px;
    height: 240px;
    background: white;
    position: relative;
}
@mixin footer{
    background: rgb(53, 48, 48);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height:230px;
    margin-top: 40px;
    width: 99%;
    padding-left: 20px;
    padding-bottom: 30px;
}
.loader{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle;
    position: relative;
}
.loader-animation{
    background-color: $color-primary;
    height: 100%;
    line-height: 500px;
    font-size: 24px;
    color: white;
    width: 100%;
    z-index: 10;
    animation: page-chargement 3s linear 150ms ;
}
    .loader-animation__spiner{
        border-radius: 50px;
        border: 6px solid rgba(255, 255, 255,0.4);
        align-items: center;
        margin-left: 40px;
    }
    .loader-animation__spiner::after{
        content: '';
        position: absolute;
        top:-6px; 
        left:-6px;
        right:-6px;
        bottom: -6px;
        border-radius: 50px;
        border: 6px solid transparent;
        border-top-color:#FFF;
        animation : loading-spiner 3s linear 0s 6;
    }
@keyframes loading-spiner{
    0%{
        transform: rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: rotate(360deg);
        opacity: 0;
    }
}
@keyframes page-chargement {
    0%{
        transform: translateX(0px);
        opacity: 1;
    }

    100%{
        transform: translateX(-299px);
        opacity: 0;
    }
    
}
h1{
    font-family: Shrikhand;
    border-bottom: 0.5px groove rgb(247, 247, 247);
    box-shadow: 0px 3px 0px 0px rgb(224, 224, 224);
    text-align: center;
}

h3{
    margin-left: 20px;
    @media screen and (min-width:750px) {
        margin-top: 5px;
        
    }
    margin-bottom:30px;
    padding-top:30px;
    font-size:22px;
}
a{
    text-decoration: none;
    color: black;
}
form{
    display: flex;
    justify-content: center;
    background: rgb(236, 236, 236);
    font-size: 17px;
    font-family: Roboto;
    text-align: center;
    height: 40px;
    margin-top: -20px;
    .Inpt{
        font-size: 15px;
        border-style: none;
        margin-left: 10px;
        background: rgb(236, 236, 236);
    }
    .marker{
        display: flex;
        align-items: center;
    }
}
article{
    background: rgb(241, 241, 241);
    text-align: center;
    margin-top: -20px;
    font-family: $font-family-text;
    height: 230px;
    width: 100%;
    h2{
        padding-top: 30px;

    }
    button {
        height: 40px;
        width: 200px;
        border-radius: 20px;
        border-color: transparent;
        background: $color-secondary;
        margin-top: 10px;
        font-size: 14px;
        color: white;
        font-family: Roboto;
    }
}

body {
    font-family: $font-family-text; 
}

.Page-Accueil{
    animation: Affichage 3s ease-in-out;
    animation-delay:4000ms;
    z-index: -1;
}

@keyframes Affichage {
    0%{
        transform: translateX(-2999px);
        opacity: 0;
        display: none;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.Fonctionnement{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    @media screen and (min-width:750px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
    }
    .Choose-resto{
        display: flex;
        @media screen and (min-width:750px){
            margin-top: 30px;
        }
        border-radius: 20px;
        margin-bottom: 20px;
        margin-left:20px;
        padding-top:10px;
        background: rgb(241, 241, 241);
        width: 250px;
        height: 60px;
        position: relative;
        .btn_circle{
            border-radius: 25px;
            border-color: transparent;
            width: 22px;
            height: 22px;
            color: white;
            background: $color-primary;
            position: absolute;
            top:35%;
            left:-8px;
        }
        .Mobile-phone{
            display: flex;
            align-items: center;
            margin-left: 25px;
            padding-bottom:10px;
            font-size: 18px;
            color: grey;
        } 
        &__caption{
            margin-left: 20px;
        }
    }
    .Compose-menu{
        display: flex;
        border-radius: 20px;
        @media screen and (min-width:750px){
            margin-top: 25px;
        }
        background: rgb(241, 241, 241);
        margin-left:20px;
        width: 250px;
        height: 60px;
        padding-top:10px;
        margin-bottom: 20px;
        position: relative;
        .btn_circle{
            border-radius: 25px;
            border-color: transparent;
            width: 22px;
            height: 22px;
            color: white;
            background: $color-primary;
            position: absolute;
            top: 35%;
            left:-8px;
        }
        .List{
            display: flex;
            align-items: center;
            margin-left: 25px;
            padding-bottom:10px;
            color: grey;
        }
        &__caption{
            margin-left: 20px;
        }
    }

    .Choose-restaurant{
        display: flex;
        border-radius: 20px;
        margin-left: 20px;
        background: rgb(241, 241, 241);
        width: 250px;
        height: 60px;
        padding-top:10px;
        position: relative;
        .btn_circle{
            border-radius: 25px;
            border-color: transparent;
            width: 22px;
            height: 22px;
            color: white;
            background: $color-primary;
            position: absolute;
            top: 35%;
            left: -8px;
        }
        .Store{
            display: flex;
            align-items: center;
            margin-left: 25px;
            padding-bottom:10px;
            color: $color-primary;
        }
        &__caption{
            margin-left: 20px;
        }
    }
}


.Restaurants{
    background: rgb(241, 241, 241);
    width: 100%;
    margin-left: 0px;
    .Restaurants-places{
    @media screen and (min-width:750px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -25px;
    margin-left: 0px;
    }
    .New-Resto{
        &__card{
        @include card-layout;
            
        }
        &__card::before{
            position: absolute;
            content: 'Nouveau';
            padding-left: 9px;
            padding-top: 8px;
            font-size: 15px;
            left:72%;
            top:6%;
            background: #99e2d0;
            color: #339966;
            width: 69px;
            height: 24px;
            font-weight: bold;
            border-color: transparent;
            
        }
            &--picture{
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                width: 340px;
                height: 180px;
            }
            p{
                font-size: 18px;
                font-weight: bold;
                margin-left: 10px;
                margin-top: 9px;
            }
    
            &--place{
                display: flex;
                flex-direction: column;
                position: relative;
                justify-content: space-between;
                margin-top: -15px;
                font-weight:100;
                font-size: 17px;
                margin-left: 10px;
            }  
    
    }
    
    .Resto{
        &__card{
            @include card-layout;
            position: relative;
        }
            &--picture{
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                width: 340px;
                height: 180px;
            }
            p{
                font-size: 18px;
                font-weight: bold;
                margin-left: 10px;
                margin-top: 9px;
            }
            &--place{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-top: -15px;
                font-weight:100;
                font-size: 17px;
                margin-left: 10px;
                position: relative;          
            }
    }
}
.Heart{
    position: relative;
}

.Heart::before{
    font-family: "Font Awesome 5 Free";
    content: '\f004';
    position: absolute;
    font-weight: 100;
    bottom : 10%;
    left : 90%;
    font-size: 24px;
}

    .Heart:hover::before{
        font-family: "Font Awesome 5 Free";
        content: '\f004';
        position: absolute;
        bottom : 10%;
        left : 90%;
        font-weight: 900;
        animation-name: remplissage;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }
    .Heart:not(:hover)::before{
        font-family: "Font Awesome 5 Free";
        content: '\f004';
        position: absolute;
        font-weight: 100;
        bottom : 10%;
        left : 90%;
        font-size: 24px;
    }
    
footer{
    @include footer;
    @media screen and (min-width:750px) {
        box-sizing: border-box;
    }
    h4 {
        font-family: $font-family-log-title;
    }
    
}

@keyframes remplissage {
    0%{
        transform: scaleZ(0);
        transform-origin: bottom center;
        color: $color-primary;
        opacity: 0;
    }

    25%{
        transform: scaleZ(0.50);
        color: $color-primary;
        transform-origin: bottom center;
        opacity: 0.25;
    }
    50%{
        transform: scaleZ(0.75);
        color: $color-primary;
        opacity: 0.5;
        transform-origin: bottom center;
        animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }
    75%{
        transform: scaleZ(1);
        transform-origin: bottom center;
        color: $color-primary;
        opacity: 0.75;
        animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }
  
    100%{
        transform: scaleZ(1.1);
        transform-origin: bottom center;
        color: $color-primary;
        opacity: 1;
        animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }
}

