@charset "UTF-8";
.Principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid;
  border-radius: 25px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-left: 3px solid;
  border-right: 3px solid;
  background-color: #fafafa;
  border-color: #fafafa;
  -webkit-box-shadow: 0px 0px 0px 0px;
          box-shadow: 0px 0px 0px 0px;
  margin-top: -47px;
}

body {
  font-family: Roboto;
  background-color: #fafafa;
  margin: 0 auto;
  border: 1px solid black;
  max-width: 750px;
  position: relative;
  cursor: pointer;
}

.Entrée-menu--price, .Plats-menu--price, .Dessert-menu--price {
  font-weight: bold;
  margin-left: 15px;
  margin-top: -10px;
  position: absolute;
  left: 80%;
  top: 52%;
}

.Entrée-menu h4, .Plats-menu h4, .Dessert-menu h4 {
  font-family: Roboto;
  margin-left: 15px;
  margin-top: 15px;
  font-weight: bolder;
  font-size: 18px;
}

.btn_command {
  background-color: #9356DC;
  color: white;
  width: 35%;
  height: 40px;
  border-radius: 20px;
  border-color: transparent;
  -webkit-transform: scale(1);
          transform: scale(1);
  margin-left: 33%;
  margin-top: 25px;
}

.btn_command:hover {
  background-color: #ff93e1;
  -webkit-box-shadow: 1px 1px 1px 1px black;
          box-shadow: 1px 1px 1px 1px black;
}

h1 {
  text-align: center;
  font-family: Shrikhand;
  font-size: 25px;
}

h1::before {
  border: 3px solid black;
}

.HeadT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Shrikhand;
  font-size: 20px;
  position: relative;
  margin-left: 15px;
}

.Heart {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 85%;
  top: 40%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: white;
  margin: 0 auto;
  padding: 0 auto;
}

.Heart::before {
  position: absolute;
  content: '';
  background-color: white;
  height: 60%;
  width: 100%;
  top: -59%;
  border-radius: 75px 75px 0 0;
  border: 1px solid black;
}

.Heart::after {
  position: absolute;
  content: '';
  background-color: white;
  height: 60%;
  width: 100%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 20%;
  right: 79%;
  border-radius: 75px 75px 0 0;
}

.Image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Link {
  text-decoration: none;
  color: black;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resto {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
}

h3 {
  font-family: Roboto;
  font-weight: lighter;
  font-size: 16px;
  border-bottom: 2px solid #99E2D0;
  max-width: 11%;
  margin-left: 15px;
  text-align: center;
}

.le-menu {
  position: relative;
}

.le-menu:hover {
  width: 80%;
}

header {
  position: relative;
}

.Arrow {
  position: absolute;
  top: 13%;
  left: 5%;
  font-size: 20px;
}

.Entrée-menu {
  text-align: left;
  -webkit-animation: Slidedown 3s 100ms ease-in-out;
          animation: Slidedown 3s 100ms ease-in-out;
}

.Entrée-menu__card {
  border: 2px double black;
  border-radius: 15px;
  background-color: #FFFF;
  max-width: 92%;
  height: 70px;
  border-color: #FFFF;
  -webkit-box-shadow: 3px 3px 3px 3px whitesmoke;
          box-shadow: 3px 3px 3px 3px whitesmoke;
  margin-bottom: 15px;
  margin-left: 10px;
  position: relative;
}

.Entrée-menu__card::before {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  content: '';
  top: -2%;
  left: 93%;
  width: 0px;
  height: 0px;
  background: #99E2D0;
  border-color: transparent;
}

.Entrée-menu__card::after {
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-weight: 900;
  left: 98%;
  opacity: 0;
  bottom: 35%;
  color: white;
  font-size: 20px;
  content: '\f058';
}

.Entrée-menu__card:hover::before {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  content: '';
  top: -2%;
  left: 93%;
  width: 55px;
  height: 73px;
  background: #99E2D0;
  border-color: transparent;
}

.Entrée-menu__card:hover::after {
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-weight: 900;
  left: 98%;
  opacity: 1;
  bottom: 35%;
  color: white;
  font-size: 20px;
  content: '\f058';
}

.Entrée-menu__card:hover::before {
  -webkit-animation: checking 1s cubic-bezier(0.19, 1, 0.22, 1);
          animation: checking 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.Entrée-menu__card:hover::after {
  -webkit-animation: rotate 1s cubic-bezier(0.19, 1, 0.22, 1);
          animation: rotate 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.Entrée-menu--title {
  font-weight: 100;
  margin-left: 15px;
  margin-top: -15px;
  width: 100%;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Entrée-menu--title:hover {
  font-weight: 100;
  margin-left: 15px;
  margin-top: -15px;
  width: 80%;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Plats-menu {
  text-align: left;
  -webkit-animation: Slidedown 3s 200ms ease-in-out;
          animation: Slidedown 3s 200ms ease-in-out;
}

.Plats-menu__card {
  border: 2px double black;
  border-radius: 15px;
  background-color: #FFFF;
  max-width: 92%;
  height: 70px;
  border-color: #FFFF;
  -webkit-box-shadow: 3px 3px 3px 3px whitesmoke;
          box-shadow: 3px 3px 3px 3px whitesmoke;
  margin-bottom: 15px;
  margin-left: 10px;
  position: relative;
}

.Plats-menu__card::before {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  content: '';
  top: -2%;
  left: 93%;
  width: 0px;
  height: 0px;
  background: #99E2D0;
  border-color: transparent;
}

.Plats-menu__card::after {
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-weight: 900;
  left: 98%;
  opacity: 0;
  bottom: 35%;
  color: white;
  font-size: 20px;
  content: '\f058';
}

.Plats-menu__card:hover::before {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  content: '';
  top: -2%;
  left: 93%;
  width: 55px;
  height: 73px;
  background: #99E2D0;
  border-color: transparent;
}

.Plats-menu__card:hover::after {
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-weight: 900;
  left: 98%;
  opacity: 1;
  bottom: 35%;
  color: white;
  font-size: 20px;
  content: '\f058';
}

.Plats-menu__card:hover::before {
  -webkit-animation: checking 1s cubic-bezier(0.19, 1, 0.22, 1);
          animation: checking 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.Plats-menu__card:hover::after {
  -webkit-animation: rotate 1s cubic-bezier(0.19, 1, 0.22, 1);
          animation: rotate 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.Plats-menu--title {
  font-weight: 100;
  margin-left: 15px;
  margin-top: -15px;
  width: 78%;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Plats-menu--title:hover {
  font-weight: 100;
  margin-left: 15px;
  margin-top: -15px;
  width: 80%;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Dessert-menu {
  text-align: left;
  -webkit-animation: Slidedown 3s 400ms ease-in-out;
          animation: Slidedown 3s 400ms ease-in-out;
}

.Dessert-menu__card {
  border: 2px double black;
  border-radius: 15px;
  background-color: #FFFF;
  max-width: 92%;
  height: 70px;
  border-color: #FFFF;
  -webkit-box-shadow: 3px 3px 3px 3px whitesmoke;
          box-shadow: 3px 3px 3px 3px whitesmoke;
  margin-bottom: 15px;
  margin-left: 10px;
  position: relative;
}

.Dessert-menu__card::before {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  content: '';
  top: -2%;
  left: 93%;
  width: 0px;
  height: 0px;
  background: #99E2D0;
  border-color: transparent;
}

.Dessert-menu__card::after {
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-weight: 900;
  left: 98%;
  opacity: 0;
  bottom: 35%;
  color: white;
  font-size: 20px;
  content: '\f058';
}

.Dessert-menu__card:hover::before {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  content: '';
  top: -2%;
  left: 93%;
  width: 55px;
  height: 73px;
  background: #99E2D0;
  border-color: transparent;
}

.Dessert-menu__card:hover::after {
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-weight: 900;
  left: 98%;
  opacity: 1;
  bottom: 35%;
  color: white;
  font-size: 20px;
  content: '\f058';
}

.Dessert-menu__card:hover::before {
  -webkit-animation: checking 1s cubic-bezier(0.19, 1, 0.22, 1);
          animation: checking 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.Dessert-menu__card:hover::after {
  -webkit-animation: rotate 1s cubic-bezier(0.19, 1, 0.22, 1);
          animation: rotate 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.Dessert-menu--title {
  font-weight: 100;
  margin-left: 15px;
  margin-top: -15px;
  width: 100%;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Dessert-menu--title:hover {
  font-weight: 100;
  margin-left: 15px;
  margin-top: -15px;
  width: 80%;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer {
  background-color: #353030;
  font-family: Roboto;
  color: white;
  font-size: 15px;
  height: 200px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 20px;
  padding-bottom: 30px;
}

h5 {
  font-family: Shrikhand;
  font-size: 18px;
}

@-webkit-keyframes Slidedown {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes Slidedown {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes checking {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-28px);
            transform: translateX(-28px);
    opacity: 1;
  }
}

@keyframes checking {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-28px);
            transform: translateX(-28px);
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translateX(-5px) rotate(0);
            transform: translateX(-5px) rotate(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-28px) rotate(1turn);
            transform: translateX(-28px) rotate(1turn);
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translateX(-5px) rotate(0);
            transform: translateX(-5px) rotate(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-28px) rotate(1turn);
            transform: translateX(-28px) rotate(1turn);
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */