.Principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 1px solid;
  border-radius: 25px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-left: 3px solid;
  border-right: 3px solid;
  background-color: #fafafa;
  border-color: #fafafa;
  -webkit-box-shadow: 0px 0px 0px 0px;
          box-shadow: 0px 0px 0px 0px;
  margin-top: -47px;
}

body {
  font-family: Roboto;
  background-color: #fafafa;
  margin: 0 auto;
  max-width: 750px;
  position: relative;
  cursor: pointer;
}

.Entree-menu--price, .Plats-menu--price, .Dessert-menu--price {
  font-weight: bold;
  margin-left: 15px;
  margin-top: -10px;
  position: absolute;
  left: 80%;
  top: 83%;
}

.Entree-menu h4, .Plats-menu h4, .Dessert-menu h4 {
  font-family: Roboto;
  margin-left: 15px;
  margin-top: 15px;
  font-weight: bolder;
  font-size: 18px;
}

.btn_command {
  background-color: #9356DC;
  color: white;
  width: 35%;
  height: 40px;
  border-radius: 20px;
  border-color: transparent;
  -webkit-transform: scale(1);
          transform: scale(1);
  margin-left: 33%;
  margin-top: 25px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 750px) {
  body {
    max-width: 1200px;
  }
}

header {
  position: relative;
}

.Link {
  text-decoration: none;
  color: black;
}

.Arrow {
  position: absolute;
  top: 13%;
  left: 5%;
  font-size: 20px;
}

h1 {
  text-align: center;
  font-family: Shrikhand;
  font-size: 25px;
}

@media screen and (min-width: 750px) {
  h1 {
    font-size: 30px;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.resto {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
}

@media screen and (min-width: 750px) {
  .Principal {
    max-width: 100%;
  }
}

.HeadT {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Shrikhand;
  font-size: 20px;
  position: relative;
  margin-left: 15px;
}

@media screen and (min-width: 750px) {
  .HeadT {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-family: Shrikhand;
    font-size: 25px;
    position: relative;
  }
}

.heart {
  position: absolute;
  left: 82%;
  top: 35%;
  font-size: 25px;
}

@media screen and (min-width: 750px) {
  .heart {
    position: absolute;
    left: 52%;
    top: 32%;
    font-size: 34px;
  }
}

.Heart {
  position: relative;
  margin: 0px auto;
  padding: 0px;
}

@media screen and (min-width: 750px) {
  .Heart {
    position: relative;
    margin: 0px auto;
    padding: 0px;
  }
}

.Heart::before {
  font-family: "Font Awesome 5 Free";
  content: '\f004';
  position: absolute;
  font-weight: 100;
  font-size: 24px;
  top: 40%;
  left: 89%;
}

@media screen and (min-width: 750px) {
  .Heart::before {
    position: absolute;
    left: 5%;
    font-size: 30px;
  }
}

@media screen and (min-width: 750px) {
  .sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 95%;
  }
}

@media screen and (min-width: 480px) and (max-width: 749px) {
  .sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 95%;
  }
}

.le-menu1 {
  position: relative;
}

.le-menu1:hover {
  width: 85%;
}

.le-menu1::before {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  content: '';
  top: -35%;
  left: 96%;
  width: 0px;
  height: 0px;
  background: #99E2D0;
  border-color: transparent;
}

.le-menu1:hover::before {
  -webkit-animation: checking 1s cubic-bezier(0.23, 1, 0.32, 1);
          animation: checking 1s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  content: '';
  top: -35%;
  left: 96%;
  width: 56px;
  height: 70px;
  background: #99E2D0;
  border-color: transparent;
}

.le-menu1::after {
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-weight: 900;
  top: 20%;
  left: 102%;
  opacity: 0;
  color: white;
  font-size: 20px;
  content: '\f058';
  max-width: 95%;
}

.le-menu1:hover::after {
  -webkit-animation: rotate 1s cubic-bezier(0.23, 1, 0.32, 1);
          animation: rotate 1s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  font-family: "Font Awesome 5 Free";
  position: absolute;
  font-weight: 900;
  top: 20%;
  left: 102%;
  opacity: 1;
  color: white;
  font-size: 20px;
  content: '\f058';
  max-width: 95%;
}

h3 {
  font-family: Roboto;
  font-weight: lighter;
  font-size: 16px;
  border-bottom: 2px solid #99E2D0;
  width: 42px;
  margin-left: 15px;
  text-align: center;
}

.Entree-menu {
  text-align: left;
  -webkit-animation: Slidedown 3s 100ms ease-in-out;
          animation: Slidedown 3s 100ms ease-in-out;
}

.Entree-menu__card {
  border: 2px double black;
  border-radius: 15px;
  background-color: #FFFF;
  max-width: 92%;
  height: 70px;
  border-color: #FFFF;
  -webkit-box-shadow: 3px 3px 3px 3px whitesmoke;
          box-shadow: 3px 3px 3px 3px whitesmoke;
  margin-bottom: 15px;
  margin-left: 10px;
  position: relative;
}

@media screen and (min-width: 750px) {
  .Entree-menu__card {
    border: 2px double black;
    border-radius: 15px;
    background-color: #FFFF;
    max-width: 95%;
    height: 70px;
    border-color: #FFFF;
    -webkit-box-shadow: 3px 3px 3px 3px whitesmoke;
            box-shadow: 3px 3px 3px 3px whitesmoke;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 370px;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 749px) {
  .Entree-menu__card {
    border: 2px double black;
    border-radius: 15px;
    background-color: #FFFF;
    max-width: 100%;
    height: 70px;
    border-color: #FFFF;
    -webkit-box-shadow: 3px 3px 3px 3px whitesmoke;
            box-shadow: 3px 3px 3px 3px whitesmoke;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 370px;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.Entree-menu--title {
  font-weight: 100;
  margin-left: 15px;
  margin-top: -15px;
  width: 80%;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Entree-menu--title:hover {
  font-weight: 100;
  margin-left: 15px;
  margin-top: -15px;
  width: 75%;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Plats-menu {
  text-align: left;
  -webkit-animation: Slidedown 3s 200ms ease-in-out;
          animation: Slidedown 3s 200ms ease-in-out;
}

.Plats-menu__card {
  border: 2px double black;
  border-radius: 15px;
  background-color: #FFFF;
  max-width: 92%;
  height: 70px;
  border-color: #FFFF;
  -webkit-box-shadow: 3px 3px 3px 3px whitesmoke;
          box-shadow: 3px 3px 3px 3px whitesmoke;
  margin-bottom: 15px;
  margin-left: 10px;
  position: relative;
}

@media screen and (min-width: 750px) {
  .Plats-menu__card {
    border: 2px double black;
    border-radius: 15px;
    background-color: #FFFF;
    max-width: 95%;
    height: 70px;
    border-color: #FFFF;
    -webkit-box-shadow: 3px 3px 3px 3px whitesmoke;
            box-shadow: 3px 3px 3px 3px whitesmoke;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 370px;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 749px) {
  .Plats-menu__card {
    border: 2px double black;
    border-radius: 15px;
    background-color: #FFFF;
    max-width: 100%;
    height: 70px;
    border-color: #FFFF;
    -webkit-box-shadow: 3px 3px 3px 3px whitesmoke;
            box-shadow: 3px 3px 3px 3px whitesmoke;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 370px;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.Plats-menu--title {
  font-weight: 100;
  margin-left: 15px;
  margin-top: -15px;
  width: 78%;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Plats-menu--title:hover {
  font-weight: 100;
  margin-left: 15px;
  margin-top: -15px;
  width: 80%;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Dessert-menu {
  text-align: left;
  -webkit-animation: Slidedown 3s 400ms ease-in-out;
          animation: Slidedown 3s 400ms ease-in-out;
}

.Dessert-menu__card {
  border: 2px double black;
  border-radius: 15px;
  background-color: #FFFF;
  max-width: 92%;
  height: 70px;
  border-color: #FFFF;
  -webkit-box-shadow: 3px 3px 3px 3px whitesmoke;
          box-shadow: 3px 3px 3px 3px whitesmoke;
  margin-bottom: 15px;
  margin-left: 10px;
  position: relative;
}

@media screen and (min-width: 750px) {
  .Dessert-menu__card {
    border: 2px double black;
    border-radius: 15px;
    background-color: #FFFF;
    max-width: 100%;
    height: 70px;
    border-color: #FFFF;
    -webkit-box-shadow: 3px 3px 3px 3px whitesmoke;
            box-shadow: 3px 3px 3px 3px whitesmoke;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 350px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 749px) {
  .Dessert-menu__card {
    border: 2px double black;
    border-radius: 15px;
    background-color: #FFFF;
    max-width: 100%;
    height: 70px;
    border-color: #FFFF;
    -webkit-box-shadow: 3px 3px 3px 3px whitesmoke;
            box-shadow: 3px 3px 3px 3px whitesmoke;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 370px;
    position: relative;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.Dessert-menu--title {
  font-weight: 100;
  margin-left: 15px;
  margin-top: -15px;
  width: 80%;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Dessert-menu--title:hover {
  font-weight: 100;
  margin-left: 15px;
  margin-top: -15px;
  width: 80%;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn_command:hover {
  background: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  -webkit-box-shadow: 1px 1px 1px 1px white;
          box-shadow: 1px 1px 1px 1px white;
}

footer {
  background-color: #353030;
  font-family: Roboto;
  color: white;
  font-size: 15px;
  height: 230px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 20px;
  padding-bottom: 30px;
}

h5 {
  font-family: Shrikhand;
  font-size: 18px;
}

.Ct {
  text-decoration: none;
  color: white;
}

@-webkit-keyframes Slidedown {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes Slidedown {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes checking {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
    opacity: 1;
  }
}

@keyframes checking {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translateX(50px) rotate(0);
            transform: translateX(50px) rotate(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(25px) rotate(1turn);
            transform: translateX(25px) rotate(1turn);
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translateX(50px) rotate(0);
            transform: translateX(50px) rotate(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(25px) rotate(1turn);
            transform: translateX(25px) rotate(1turn);
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */